Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]

      - id: go-imports
        name: Go Imports
        entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        files: go\.mod|go\.sum
        pass_filenames: false

      - id: go-test-short
        name: Go Unit Tests (Short)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Frontend specific hooks (run in frontend directory)
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
default_stages: [pre-commit]
fail_fast: false

fix(terraform): remove invalid index on kube_admin_config references
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix(deploy): update container registry detection logic based on environment
  scripts/deploy.sh
Due: none

fix: install Terraform CLI in deploy job
  .github_workflows/main.yml
Due: none

fix(ci): install Terraform in deploy step
  .github_workflows/main.yml
Due: none

fix(terraform): re-add [0] index for kube_admin_config attributes to support list access
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix(deploy): correct default container registry naming with hyphens
  scripts/deploy.sh
Due: none

fix(ci): skip real deployments in CI for deploy script
  scripts/deploy.sh
Due: none

fix(terraform): drop obsolete kube_admin_config index to align with provider v3
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix(terraform): add kube_admin_config index for provider v3
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix(ci): ensure fresh Go toolchain installation by cleaning target directory for Setup Go actions
  .github_workflows/main.yml
Due: none

fix(deploy): use registry name without hyphens to comply with Azure ACR naming conventions
  scripts/deploy.sh
Due: none

fix(ci): skip deploy for development environment in CI to prevent failures on missing registry
  scripts/deploy.sh
Due: none

refactor(api): update API client usage and improve error handling across multiple components
  frontend/src/app/activity/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/organizations/page.tsx
  frontend/src/app/plugins/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/blob/[ref]/[...path]/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/settings/branches/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/tree/[ref]/[...path]/page.tsx
  frontend/src/app/repositories/new/page.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/repository/RepositoryBrowser.tsx
  frontend/src/components/settings/SSHKeyManagement.tsx
  frontend/src/store/repository.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): update kube_admin_config references to use kube_config for improved compatibility
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

refactor(terraform): update GitHub runner module to improve CRD handling and add version constraints
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
  terraform/modules/github_runner/main.tf
  terraform/modules/github_runner/versions.tf
Due: none

fix(terraform): skip schema validation for RunnerDeployment manifest
  terraform/modules/github_runner/main.tf
Due: none

feat(terraform): add null provider to environments and update GitHub runner module for deployment management
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
  terraform/modules/github_runner/main.tf
  terraform/modules/github_runner/versions.tf
Due: none

fix(terraform): install CRDs for actions-runner-controller by setting install_crds = true
  terraform/modules/github_runner/main.tf
Due: none

fix(frontend): consolidate PWA config and skip lint/type checks during build
  frontend/.gitignore
  frontend/next-pwa.d.ts
  frontend/next.config.js
  frontend/next.config.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): update runner deployment command to use self.triggers for improved resource referencing
  terraform/modules/github_runner/main.tf
Due: none

fix: escape apostrophe in RepositoryBrowser to satisfy react/no-unescaped-entities
  frontend/src/components/repository/RepositoryBrowser.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): correct destroy provisioner variable references in github_runner module
  terraform/modules/github_runner/main.tf
Due: none

fix(terraform): update actions-runner-controller chart version to 0.23.7 and ignore standby_availability_zone changes
  terraform/modules/github_runner/variables.tf
  terraform/modules/postgresql/main.tf
Due: none

fix: add clean flag to actions/setup-go to avoid file exists errors
  .github_workflows/main.yml
Due: none

fix(frontend): escape apostrophe to satisfy react/no-unescaped-entities rule
  frontend/src/components/repository/RepositoryBrowser.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): bump helm provider minimum version to support install_crds
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix(frontend): disable ESLint during builds to prevent build failures from lint warnings
  frontend/next.config.js
Due: frontend-format, frontend-lint

fix(frontend): escape apostrophe in Quick setup text
  frontend/src/components/repository/RepositoryBrowser.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): remove deprecated quoted reference in ignore_changes to support Terraform 1.x init
  terraform/modules/postgresql/main.tf
Due: none

fix: escape apostrophe in Quick setup heading to satisfy react/no-unescaped-entities rule
  frontend/src/components/repository/RepositoryBrowser.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): replace deprecated install_crds with crd_install block for helm provider v2
  terraform/modules/github_runner/main.tf
Due: none

fix(ci): resolve TS type conflicts in branch migration component and repository store
  frontend/src/app/repositories/[owner]/[repo]/settings/branches/page.tsx
  frontend/src/store/repository.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(ui): adapt ProtectionRuleMigration branches prop to component Branch type
  frontend/src/app/repositories/[owner]/[repo]/settings/branches/page.tsx
  terraform/modules/postgresql/main.tf
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): remove deprecated quoted reference in postgresql lifecycle.ignore_changes
  terraform/modules/postgresql/main.tf
Due: none

fix: shape branches prop for ProtectionRuleMigration & fix Repository type casts
  frontend/src/app/repositories/[owner]/[repo]/settings/branches/page.tsx
  frontend/src/store/repository.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): bump helm provider version to support crd_install block for helm provider v2
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

Add configurable rate limiting rules to Terraform WAF policy module
  terraform/modules/security/README.md
  terraform/modules/security/main.tf
  terraform/modules/security/variables.tf
Due: none

Implement plugin API client methods and tests for GetRepository, ListRepositories, CreatePRComment, CreateStatusCheck
  pkg/plugin/apiclient.go
  pkg/plugin/apiclient_test.go
Due: go-fmt, go-imports, go-test-short

fix(deploy): bump DEPLOY_TIMEOUT to 15m in workflow copy
  .github_workflows/main.yml
Due: none

feat: add coverage-report workflow to .github_workflows with clean setup-go flag
  .github_workflows/coverage-report.yml
Due: none
