Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: Go Imports
  entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test-short:
  name: Go Unit Tests (Short)
  entry: go test -short ./...
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier Format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

ci(frontend): add --legacy-peer-deps flag to production npm ci in Dockerfile to fix peer dependency conflicts
  frontend/Dockerfile
Due: none

Parse JSON language stats in analytics_service
  internal/services/analytics_service.go
  internal/services/analytics_service_parse_test.go
Due: go-fmt, go-imports, go-test-short

Add pre-receive and post-receive hook support in repository_service
  docs/user-guide.md
  internal/services/repository_service.go
  internal/services/repository_service_hooks_test.go
Due: go-fmt, go-imports, go-test-short

fix: add --legacy-peer-deps to production npm ci in Dockerfile to resolve react-mde peer dependency conflict
  frontend/Dockerfile
Due: none

fix(frontend): add --legacy-peer-deps to npm ci in Dockerfile to resolve peer dependency conflicts
  frontend/Dockerfile
Due: none

fix(deploy): skip Kubernetes deployment when cluster is unavailable
  scripts/deploy-k8s.sh
  scripts/deploy.sh
Due: none

Update config.yml
  .a5c/config.yml
Due: none

Update a5c.yml
  .github/workflows/a5c.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update infrastructure.yml
  .github/workflows/infrastructure.yml
Due: none

Add SRE base and Azure SRE engineer agents to A5C configuration
  .a5c/config.yml
Due: none

auth: implement proper refresh token logic for OAuth, OIDC, and SAML flows
  internal/auth/oauth.go
  internal/auth/oidc.go
  internal/auth/saml.go
Due: go-fmt, go-imports, go-test-short

Add admin authorization checks and unit tests for admin_email_handlers (#358)
  internal/api/admin_email_handlers.go
  internal/api/admin_email_handlers_test.go
Due: go-fmt, go-imports, go-test-short

fix: automate Azure login in build and deploy scripts for ACR and AKS
  DEPLOYMENT.md
  scripts/build-images.sh
  scripts/deploy.sh
Due: none

Move and update Terraform infrastructure workflow; fix Azure CLI login and docs
  .github_workflows/infrastructure.yml
  README.md
Due: none

Create infrastructure.yml
  .github/workflows/infrastructure.yml
Due: none

Update README.md
  terraform/README.md
Due: none

fix: update Azure CLI login step to use creds input
  .github_workflows/infrastructure.yml
Due: none

api: enforce authentication for private git operations and add tests
  internal/api/git_handlers.go
  internal/api/git_handlers_test.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short

Fix Terraform init backend config to avoid interactive prompts in infra workflow
  .github_workflows/infrastructure.yml
  docs/admin-guide.md
Due: none

Implement role assignment in OIDC authentication
  internal/auth/jwt.go
  internal/auth/jwt_test.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/models/user.go
Due: go-fmt, go-imports, go-test-short

fix: use action inputs for Azure CLI login instead of JSON creds block
  .github_workflows/infrastructure.yml
Due: none

Add updated infrastructure workflow with id-token permissions for Azure OIDC login
  .github_workflows/infrastructure.yml
Due: none

Enhance GitHub Actions workflow by adding permissions for Terraform job
  .github/workflows/infrastructure.yml
  terraform/README.md
Due: none

fix: Azure login in Infrastructure Deployment workflow
  .github_workflows/infrastructure.yml
Due: none

Refactor Azure CLI login in GitHub Actions workflow to use a credentials JSON file for improved security and maintainability
  .github/workflows/infrastructure.yml
  frontend/e2e/activity-feed.spec.ts
  frontend/e2e/admin-analytics.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/test-utils.ts
  frontend/playwright.config.ts
Due: frontend-format, frontend-lint, frontend-type-check

Update README.md to include Azure Kubernetes Service in the Core Services section
  terraform/README.md
Due: none

Fix Terraform init error: use dynamic lifecycle block for prevent_destroy meta-argument
  terraform/modules/resource_group/main.tf
Due: none

Fix Azure SP auth for Terraform backend in infrastructure workflow
  .github_workflows/infrastructure.yml
Due: none

Update GitHub Actions workflow to include Azure credentials for Terraform jobs, enhancing security and maintainability.
  .github/workflows/infrastructure.yml
Due: none

Update README.md to add a blank line for improved readability in the Core Services section
  terraform/README.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum
  go-test-short: any of: \.go$
  frontend-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
