Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]

      - id: go-imports
        name: Go Imports
        entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        files: go\.mod|go\.sum
        pass_filenames: false

      - id: go-test-short
        name: Go Unit Tests (Short)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Frontend specific hooks (run in frontend directory)
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
default_stages: [pre-commit]
fail_fast: false

fix(test): add timeout to PostgreSQL readiness loop in test script
  scripts/test.sh
Due: none

Add repository settings branch read/write support and update front-end integration
  frontend/e2e/repository-settings.spec.ts
  frontend/src/app/repositories/[owner]/[repo]/settings/page.tsx
  frontend/src/lib/api.ts
  internal/api/repository_handlers.go
  internal/api/routes.go
  internal/services/repository_service.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

fix(test): propagate non-default test DB port to Go and E2E tests
  scripts/test.sh
Due: none

fix(tests): use default DB_PORT 5432 in CI for PostgreSQL service container
  scripts/test.sh
Due: none

fix(test): use GitHub Actions service container for PostgreSQL and update test script
  .github_workflows/main.yml
  scripts/test.sh
Due: none

frontend: add @testing-library/dom to devDependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format

fix: add clean option to Setup Go to avoid tar extraction errors on cached installations
  .github_workflows/main.yml
Due: none

build(ci): disable Go caching to avoid Setup Go tar extraction errors
  .github_workflows/main.yml
Due: none

fix: always start PostgreSQL test container in CI
  scripts/test.sh
Due: none

fix(test): default test DB port to 5433 to avoid CI port conflicts
  scripts/test.sh
Due: none

Support branch parameter in gitService file operations
  internal/git/git_service.go
Due: go-fmt, go-imports, go-test-short

build: increase PostgreSQL readiness timeout and always log container on failure
  scripts/test.sh
Due: none

fix(test): use docker exec for PostgreSQL readiness in CI
  scripts/test.sh
Due: none

fix(ci): default test DB port to 5433 in CI workflow
  .github_workflows/main.yml
Due: none

test: ignore errors when stopping PostgreSQL test container
  scripts/test.sh
Due: none

fix(tests): enhance navigation tests and user authentication setup
  frontend/e2e/navigation.spec.ts
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(ci): override DATABASE_URL in test script to use TEST_DB_PORT
  scripts/test.sh
Due: none

fix(tests): use docker exec for PostgreSQL readiness check to avoid requiring host psql
  scripts/test.sh
Due: none

fix(tests): use docker exec for PostgreSQL readiness check
  scripts/test.sh
Due: none

fix(tests): use pg_isready for PostgreSQL readiness check
  scripts/test.sh
Due: none

refactor(tests): update analytics and dashboard tests for pull request handling
  frontend/e2e/admin-analytics.spec.ts
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/file-viewer.spec.ts
  frontend/e2e/helpers/test-utils.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/notifications.spec.ts
  frontend/e2e/organization-management.spec.ts
  frontend/e2e/repository-browser.spec.ts
  frontend/e2e/repository-integrations.spec.ts
  frontend/e2e/repository-security.spec.ts
  frontend/e2e/repository.spec.ts
  frontend/e2e/search-filters.spec.ts
  frontend/e2e/user-analytics.spec.ts
  frontend/e2e/user-preferences.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(test): use TCP host for Postgres readiness check
  scripts/test.sh
Due: none

scaffold repository import/export feature
  frontend/src/app/repositories/[owner]/[repo]/export/page.tsx
  frontend/src/app/repositories/import/page.tsx
  internal/api/import_handlers.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

Feature: Real-Time Push Notification Support
  frontend/src/app/notifications/page.tsx
  frontend/src/lib/hooks/useNotifications.test.ts
  frontend/src/lib/hooks/useNotifications.ts
  internal/api/routes.go
  internal/api/user_handlers.go
  internal/services/notification_service.go
  internal/services/notification_service_test.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

feat(import-export): scaffold basic repository import/export handlers and UI
  frontend/src/app/repositories/[owner]/[repo]/export/page.tsx
  frontend/src/app/repositories/import/page.tsx
  internal/api/import_handlers.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

fix: initialize wsRef with null in useNotifications hook
  frontend/src/lib/hooks/useNotifications.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): initialize wsRef in useNotifications hook
  frontend/src/lib/hooks/useNotifications.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(test): disable no-this-alias eslint rule in useNotifications test
  frontend/src/lib/hooks/useNotifications.test.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(build): correct useNotifications hook and skip ESLint during build to restore CI compatibility
  frontend/next.config.ts
  frontend/src/lib/hooks/useNotifications.ts
  package-lock.json
Due: frontend-format, frontend-lint, frontend-type-check

test: clear env vars in TestLoadDefault to isolate defaults
  internal/config/config_test.go
Due: go-fmt, go-imports, go-test-short

fix(build): download Go modules in test job to avoid Setup Go cache errors
  .github_workflows/main.yml
Due: none

fix(test): flush effect to establish WebSocket instance in useNotifications test
  frontend/src/lib/hooks/useNotifications.test.ts
Due: frontend-format, frontend-lint, frontend-type-check

storage: implement S3Backend using AWS SDK v2
  go.mod
  go.sum
  internal/storage/s3.go
  internal/storage/s3_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-test-short

Integrate background job queue for import and export handlers
  internal/api/import_handlers.go
  internal/api/routes.go
  tests/integration/import_export_test.go
Due: go-fmt, go-imports, go-test-short

Update main.yml
  .github/workflows/main.yml
Due: none

build: ensure clean go installation in setup-go to fix cache extraction conflicts
  .github_workflows/main.yml
Due: none

fix(ci): resolve Go unit test failures and search service tests
  internal/services/analytics_service_test.go
  internal/services/deploy_key_service.go
  internal/services/organization_service_test.go
  internal/services/search_service.go
  internal/services/search_service_test.go
Due: go-fmt, go-imports, go-test-short

ci(test): skip Postgres container setup for non-E2E tests
  scripts/test.sh
Due: none

Fix Go unit test failures in organization, search, deploy key, and analytics services
  internal/models/analytics.go
  internal/services/deploy_key_service.go
  internal/services/organization_service_test.go
  internal/services/search_service.go
  internal/services/search_service_test.go
Due: go-fmt, go-imports, go-test-short
