Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]

      - id: go-imports
        name: Go Imports
        entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        files: go\.mod|go\.sum
        pass_filenames: false

      - id: go-test-short
        name: Go Unit Tests (Short)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Frontend specific hooks (run in frontend directory)
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
default_stages: [pre-commit]
fail_fast: false

Refactor backend configuration in GitHub Actions workflow to use environment-specific resource names for improved clarity and maintainability.
  .github/workflows/infrastructure.yml
  terraform/README.md
Due: none

Update backend configuration in GitHub Actions workflow to use fixed resource names for main environment, enhancing clarity and consistency.
  .github/workflows/infrastructure.yml
  terraform/README.md
Due: none

fix(terraform): dynamic backend configuration per environment
  .github_workflows/infrastructure.yml
Due: none

Add first_init.sh script for Azure resource setup and remove ssh_host_key file
  .github/workflows/infrastructure.yml
  scripts/first_init.sh
  ssh_host_key
  terraform/README.md
Due: none

chore(infrastructure): run first_init.sh before terraform init to create Azure resource group and storage
  .github_workflows/infrastructure.yml
  README.md
Due: none

Fix undefined 'data' variable in TestExportJobQueue integration tests
  tests/integration/import_export_test.go
Due: go-fmt, go-imports, go-test-short

Update first_init.sh script to include subscription parameter for Azure resource creation, enhancing flexibility and ensuring correct resource allocation.
  scripts/first_init.sh
Due: none

Update README.md to add a blank line for improved readability in the Terraform section
  terraform/README.md
Due: none

Update coverage report workflow to upload coverage as an artifact instead of sending to Codecov, improving artifact management and retention.
  .github/workflows/coverage-report.yml
Due: none

feat: support cross-repository pull request creation UI and branch loading
  frontend/src/components/pullRequests/CreatePullRequestForm.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Remove unnecessary blank line in README.md for improved formatting consistency.
  terraform/README.md
Due: none

fix(terraform): update AzureRM modules for provider v3 compatibility
  terraform/modules/aks/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/security/main.tf
Due: none

fix: correct Terraform arguments for autoscaling and WAF policy blocks
  terraform/modules/aks/main.tf
  terraform/modules/security/main.tf
Due: none

fix(terraform): correct Terraform errors in AKS and security modules
  terraform/modules/aks/main.tf
  terraform/modules/security/main.tf
Due: none

Enhance GitHub Actions workflow to include nested Terraform paths and clean up formatting in development main.tf by removing an unnecessary blank line.
  .github/workflows/infrastructure.yml
  terraform/environments/development/main.tf
Due: none

fix(terraform): use for-expression for backend_address_pool indexing to fix Terraform Validate Error
  terraform/modules/security/outputs.tf
Due: none

Update backend_address_pool_id output to dynamically reference the correct pool based on application gateway name, enhancing output accuracy.
  terraform/modules/security/outputs.tf
Due: none

Fix terraform validate error: Cannot index set value in backend_address_pool output
  terraform/modules/security/outputs.tf
Due: none

fix(pull request form): wrap branch selection in Card to fix JSX syntax error
  frontend/src/components/pullRequests/CreatePullRequestForm.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix: correct CreatePullRequestForm syntax and wrap branch selection in Card
  frontend/src/components/pullRequests/CreatePullRequestForm.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): remove invalid count arguments for diagnostic settings resources
  terraform/modules/keyvault/main.tf
  terraform/modules/postgresql/main.tf
  terraform/modules/security/main.tf
  terraform/modules/security/outputs.tf
  terraform/modules/storage/main.tf
Due: none

fix: wrap branch selection in Card to correct JSX syntax error
  frontend/src/components/pullRequests/CreatePullRequestForm.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): add enable_auto_scaling to default_node_pool block
  terraform/modules/aks/main.tf
Due: none

fix: remove syntax error in CreatePullRequestForm.tsx
  frontend/src/components/pullRequests/CreatePullRequestForm.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): remove availability_zones override for development environment
  terraform/environments/development/main.tf
Due: none

fix(terraform): update availability zones and add service endpoints
  terraform/environments/development/main.tf
  terraform/modules/networking/main.tf
  terraform/modules/postgresql/main.tf
  terraform/modules/security/main.tf
Due: none

fix(terraform): update development environment settings
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
Due: none

fix(terraform): resolve infra deployment errors
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
  terraform/environments/production/main.tf
  terraform/environments/production/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
Due: none

fix(terraform): update resource group lifecycle management
  terraform/modules/resource_group/main.tf
  terraform/modules/resource_group/variables.tf
Due: none

fix(terraform): make prevent_destroy configurable and disable in development environment
  terraform/environments/development/main.tf
  terraform/modules/resource_group/main.tf
  terraform/modules/resource_group/variables.tf
Due: none

fix(terraform): adjust default location and Kubernetes version in development environment
  terraform/environments/development/variables.tf
Due: none

fix(terraform): remove duplicate public_network_access_enabled attribute in development environment main.tf
  terraform/environments/development/main.tf
Due: none

fix(terraform): remove duplicate public_network_access_enabled in development keyvault module
  terraform/environments/development/main.tf
Due: none

fix(terraform): update availability zones and default location in development environment
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
Due: none

fix(terraform): adjust Kubernetes version and PostgreSQL location for development environment
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
Due: none

fix(terraform): update availability zones and default values in development environment
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
Due: none

Add Webhooks management UI for organizations
  frontend/src/app/organizations/[org]/settings/webhooks/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): update dependencies and availability zones in development environment
  terraform/environments/development/main.tf
Due: none

fix(terraform): ensure correct region alignment and provisioning order
  terraform/environments/development/main.tf
Due: none

feat(frontend): enable PWA support via next-pwa
  frontend/e2e/pwa.spec.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/sw.js
  frontend/src/app/notifications/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check
