Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]

      - id: go-imports
        name: Go Imports
        entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        files: go\.mod|go\.sum
        pass_filenames: false

      - id: go-test-short
        name: Go Unit Tests (Short)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Frontend specific hooks (run in frontend directory)
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
default_stages: [pre-commit]
fail_fast: false

Implement plugin backend API and pkg/plugin package
  internal/api/plugin_handlers.go
  internal/api/routes.go
  internal/services/plugin_service.go
  pkg/plugin/apiclient.go
  pkg/plugin/apiclient_test.go
  pkg/plugin/config.go
  pkg/plugin/manifest.go
  pkg/plugin/manifest_test.go
Due: go-fmt, go-imports, go-test-short

terraform(environments/development): update tfvars example to West US 2 and add import instructions for PostgreSQL
  terraform/environments/development/README.md
  terraform/environments/development/terraform.tfvars.example
Due: none

fix(plugin): rename APIClient to BackendAPIClient to avoid redeclaration conflict
  pkg/plugin/api.go
  pkg/plugin/backend_api_client.go
Due: go-fmt, go-imports, go-test-short

fix(terraform): automatically import existing PostgreSQL server in development to prevent name conflicts
  .github_workflows/infrastructure.yml
  terraform/environments/development/outputs.tf
Due: none

terraform(environments/development): update resource names to include version suffix
  terraform/environments/development/main.tf
Due: none

fix(terraform): truncate key vault and storage account base names to satisfy Azure naming constraints
  terraform/environments/development/main.tf
Due: none

Add Plugin Marketplace UI: navigation, listing, details, API client, types, tests
  frontend/e2e/navigation.spec.ts
  frontend/e2e/plugin-marketplace.spec.ts
  frontend/src/app/plugins/[name]/page.tsx
  frontend/src/app/plugins/page.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/plugins/PluginCard.tsx
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): update development environment default location to East US to avoid Azure flexible server provisioning restriction
  terraform/environments/development/terraform.tfvars.example
  terraform/environments/development/variables.tf
Due: none

Integrate frontend with core API endpoints for user profile
  frontend/src/app/settings/profile/page.tsx
  frontend/src/lib/api.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): correct searchApi and pluginApi blocks to fix TS syntax error
  frontend/src/lib/api.ts
Due: frontend-format, frontend-lint, frontend-type-check

Add integration tests for token refresh and logout endpoints
  tests/integration/auth_integration_test.go
Due: go-fmt, go-imports, go-test-short

Update Terraform configurations to use West US 3 location across all environments and adjust availability zones. Enable public network access for PostgreSQL module.
  terraform/environments/development/main.tf
  terraform/environments/development/terraform.tfvars.example
  terraform/environments/development/variables.tf
  terraform/environments/production/main.tf
  terraform/environments/production/terraform.tfvars.example
  terraform/environments/production/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/terraform.tfvars.example
  terraform/environments/staging/variables.tf
  terraform/modules/postgresql/main.tf
Due: none

frontend: fix searchApi closure and pluginApi placement causing build syntax error
  frontend/src/lib/api.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(terraform): preserve region suffix in key vault/storage naming and support public network access in PostgreSQL module
  terraform/environments/development/main.tf
  terraform/modules/postgresql/main.tf
  terraform/modules/postgresql/variables.tf
Due: none

fix(terraform): index private_dns_zone_id for count resource to avoid missing resource instance key error
  terraform/modules/postgresql/outputs.tf
Due: none

Initial Database Migrations for Core Entities
  internal/db/migrations/021_create_users_table.go
  internal/db/migrations/022_create_repositories_table.go
  internal/db/migrations/023_create_organizations_table.go
  tests/integration/migration_cli_test.go
Due: go-fmt, go-imports, go-test-short

Update GitHub Actions workflow for A5C
  .github/workflows/a5c.yml
Due: none

Refactor A5C configuration settings
  .a5c/config.yml
Due: none

sre: update deploy.sh for external AKS and Postgres resources
  scripts/deploy.sh
Due: none

fix(deploy): load Terraform outputs for AKS cluster and error on kubectl connection failure
  scripts/deploy-k8s.sh
  scripts/deploy.sh
Due: none

fix(deploy): change default environment to development in deploy.sh
  scripts/deploy.sh
Due: none

fix(deploy): restore staging as default environment
  scripts/deploy.sh
Due: none

fix(deploy): use production as default in CI, skip confirmation in CI
  scripts/deploy.sh
Due: none

refactor(deploy): set default Azure resource names based on environment in deploy.sh
  go.mod
  go.sum
  scripts/deploy.sh
Due: go-mod-tidy

fix(deploy): strip namespace from k8s manifests and remove static namespace manifest
  scripts/deploy-k8s.sh
Due: none

fix(deploy): reduce kubectl rollout timeout to avoid CI step timeout
  scripts/deploy-k8s.sh
Due: none

Add Azure Container Registry to Terraform and update deploy scripts
  terraform/modules/container_registry/main.tf
  terraform/modules/container_registry/outputs.tf
  terraform/modules/container_registry/variables.tf
Due: none

fix(deploy): make rollout and Helm wait timeouts configurable via DEPLOY_TIMEOUT env var
  scripts/deploy-k8s.sh
  scripts/deploy.sh
Due: none

feat(terraform): add GitHub runner controller module and invoke in environments
  terraform/README.md
  terraform/environments/development/main.tf
  terraform/environments/development/terraform.tfvars.example
  terraform/environments/development/variables.tf
  terraform/environments/production/main.tf
  terraform/environments/production/terraform.tfvars.example
  terraform/environments/production/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/terraform.tfvars.example
  terraform/environments/staging/variables.tf
  terraform/modules/github_runner/README.md
  terraform/modules/github_runner/main.tf
  terraform/modules/github_runner/outputs.tf
  terraform/modules/github_runner/variables.tf
Due: none

Reference Azure Container Registry module in environments and update deploy scripts
  scripts/deploy-k8s.sh
  scripts/deploy.sh
  terraform/environments/development/main.tf
  terraform/environments/development/outputs.tf
  terraform/environments/production/main.tf
  terraform/environments/production/outputs.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
Due: none

Update a5c.yml
  .github/workflows/a5c.yml
Due: none

Add Terraform setup to deploy job
  .github_workflows/main.yml
Due: none

Fix Terraform Kubernetes/Helm provider config and container registry naming
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix: disable Go distribution cache and remove duplicate Download Go modules step
  .github_workflows/main.yml
Due: none

fix(deploy): use health endpoint for readinessProbe to avoid deployment hang
  k8s/backend-deployment.yaml
Due: none

fix(terraform): reference kube_admin_config list element in Kubernetes and Helm providers
  terraform/environments/development/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
Due: none

fix: remove duplicate Go modules step in build job to prevent redundant downloads and speed up builds
  .github_workflows/main.yml
Due: none

ci: add Setup Terraform step in deploy job via .github_workflows/main.yml
  .github_workflows/main.yml
Due: none
