Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]

      - id: go-imports
        name: Go Imports
        entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go mod tidy
        language: system
        files: go\.mod|go\.sum
        pass_filenames: false

      - id: go-test-short
        name: Go Unit Tests (Short)
        entry: go test -short ./...
        language: system
        files: \.go$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Frontend specific hooks (run in frontend directory)
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
default_stages: [pre-commit]
fail_fast: false

feat: Add comprehensive E2E test coverage for Search & Discovery features
  frontend/e2e/code-search.spec.ts
  frontend/e2e/global-search.spec.ts
  frontend/e2e/search-filters.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check

Fix build timeout issues and remove problematic package-lock.json
  .github_workflows/main.yml
  package-lock.json
  scripts/build.sh
  scripts/install.sh
Due: none

feat: Complete frontend user authentication integration
  frontend/src/app/repositories/[owner]/[repo]/edit/[ref]/[...path]/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Implement comprehensive webhook system backend with full functionality
  internal/api/hooks_handlers.go
  internal/db/migrations/019_webhook_tables.go
  internal/models/webhook.go
  internal/services/deploy_key_service.go
  internal/services/webhook_delivery_service.go
  internal/services/webhook_test.go
  package-lock.json
Due: go-fmt, go-imports, go-test-short

Implement repository statistics and language detection functionality
  internal/api/repository_handlers.go
  internal/git/git_service.go
  internal/git/language_detector.go
  internal/git/language_detector_test.go
  internal/services/repository_service.go
Due: go-fmt, go-imports, go-test-short

feat: Implement complete branch protection rules system
  internal/api/branch_protection_handlers.go
  internal/api/routes.go
  internal/services/branch_service.go
Due: go-fmt, go-imports, go-test-short

feat: Implement comprehensive admin user management endpoint
  internal/api/admin_handlers.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short

feat: Complete email service and notification system implementation
  internal/auth/email_service.go
  internal/auth/mfa.go
  internal/auth/password_reset.go
  internal/auth/service.go
  internal/config/config.go
Due: go-fmt, go-imports, go-test-short

Fix Git service SHA resolution and file operations
  internal/api/actions_handlers.go
  internal/api/routes.go
  internal/git/git_service.go
  internal/git/service.go
  internal/services/actions_event_service.go
Due: go-fmt, go-imports, go-test-short

feat: Implement comprehensive authentication service backend features
  internal/auth/blacklist.go
  internal/auth/oauth.go
  internal/auth/oidc.go
  internal/auth/saml.go
  internal/auth/service.go
  internal/services/team_service.go
Due: go-fmt, go-imports, go-test-short

fix: Optimize build process to prevent timeout failures
  .github_workflows/main.yml
  scripts/build.sh
  scripts/install.sh
Due: none

Implement comprehensive artifact storage and management system
  internal/api/actions_handlers.go
  internal/api/routes.go
  internal/config/config.go
  internal/services/artifact_service.go
  internal/services/artifact_service_test.go
  internal/storage/azure.go
  internal/storage/factory.go
  internal/storage/filesystem.go
  internal/storage/filesystem_test.go
  internal/storage/interface.go
  internal/storage/s3.go
Due: go-fmt, go-imports, go-test-short

Implement Redis-based job queue system for CI/CD scalability
  config.example.yaml
  go.mod
  go.sum
  internal/api/routes.go
  internal/config/config.go
  internal/services/deploy_key_service.go
  internal/services/job_queue_service.go
  internal/services/redis_service.go
  internal/services/webhook_delivery_service.go
Due: go-fmt, go-imports, go-mod-tidy, go-test-short

Fix: Resolve SSH key type assertions and remove unused imports
  internal/services/deploy_key_service.go
  internal/services/webhook_delivery_service.go
Due: go-fmt, go-imports, go-test-short

Implement Analytics System Backend
  internal/api/analytics_handlers.go
  internal/services/analytics_service.go
  internal/services/organization_analytics_service.go
Due: go-fmt, go-imports, go-test-short

Document recently implemented features and enhancements
  README.md
  docs/analytics.md
  docs/artifact-storage.md
  docs/authentication.md
  docs/cicd-actions.md
Due: none

Fix build compilation errors in Go backend and TypeScript frontend
  frontend/src/app/repositories/[owner]/[repo]/issues/[number]/edit/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/issues/new/page.tsx
  internal/api/activity_handlers.go
  internal/api/admin_handlers.go
  internal/api/analytics_handlers.go
  internal/api/hooks_handlers.go
  internal/api/repository_handlers.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

Refactor API handlers to improve code readability and remove unused imports
  internal/api/admin_handlers.go
  internal/api/hooks_handlers.go
  internal/api/repository_handlers.go
Due: go-fmt, go-imports, go-test-short

Enhance UI components and refactor API handlers for improved readability
  frontend/src/app/notifications/page.tsx
  frontend/src/app/repositories/page.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/Button.tsx
  internal/api/activity_handlers.go
  internal/api/analytics_handlers.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

Fix build hanging during type checking and linting phase
  .github_workflows/main.yml
  frontend/next.config.ts
  frontend/src/components/actions/WebhookTestingModal.tsx
  frontend/src/components/ui/Button.tsx
  scripts/build.sh
Due: frontend-format, frontend-lint, frontend-type-check

Fix frontend build errors to resolve CI failures
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/src/app/api/v1/repos/[owner]/[repo]/actions/runs/[runId]/artifacts/route.ts
  frontend/src/app/api/v1/runners/[runnerId]/health/route.ts
  frontend/src/components/actions/WebhookTestingModal.tsx
  frontend/src/components/ui/Button.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Connect analytics frontend with real backend API integration
  frontend/src/app/admin/analytics/page.tsx
  frontend/src/components/organization/OrganizationAnalyticsDashboard.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Fix: Add missing /organizations/new page to resolve navigation error
  frontend/src/app/organizations/new/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Fix SSH key management 500 error by correcting userID type casting
  internal/api/ssh_handlers.go
Due: go-fmt, go-imports, go-test-short

feat: Add comprehensive repository statistics and language detection UI
  frontend/src/app/repositories/[owner]/[repo]/insights/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/page.tsx
  frontend/src/components/repository/ContributorStats.tsx
  frontend/src/components/repository/LanguageStats.tsx
  frontend/src/components/repository/RepositoryStats.tsx
  frontend/src/hooks/useRepositoryStats.ts
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

feat: Complete branch protection rules UI integration
  frontend/src/app/repositories/[owner]/[repo]/settings/branches/page.tsx
  frontend/src/components/ui/BranchRestrictionsConfig.tsx
  frontend/src/components/ui/PatternInput.tsx
  frontend/src/components/ui/ProtectionRuleMigration.tsx
  frontend/src/components/ui/ProtectionRulePreview.tsx
  frontend/src/components/ui/StatusChecksConfig.tsx
  frontend/src/components/ui/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

Integrate email service features with user experience
  frontend/src/app/admin/email/page.tsx
  frontend/src/app/settings/emails/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/auth/MFASetup.tsx
  frontend/src/lib/api.ts
  internal/api/admin_email_handlers.go
  internal/api/routes.go
  internal/api/user_handlers.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

feat: integrate advanced authentication features into Security UI
  frontend/src/components/auth/AuthAuditLogViewer.tsx
  frontend/src/components/auth/OAuthDebugger.tsx
  frontend/src/components/auth/OIDCOrganizationMapper.tsx
  frontend/src/components/auth/RefreshTokenManager.tsx
  frontend/src/components/auth/SAMLOrganizationMapper.tsx
  frontend/src/components/auth/SecurityDashboard.tsx
  frontend/src/components/auth/TeamSyncDashboard.tsx
  frontend/src/components/auth/TokenBlacklistManager.tsx
  frontend/src/components/auth/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

Fix build errors: unused variable in Go and TypeScript compilation issues
  frontend/src/components/ui/BranchRestrictionsConfig.tsx
  internal/api/user_handlers.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

feat: add comprehensive E2E test coverage for missing features
  frontend/e2e/advanced-auth.spec.ts
  frontend/e2e/advanced-cicd.spec.ts
  frontend/e2e/organization-management.spec.ts
  frontend/e2e/user-analytics.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check

feat: Implement comprehensive admin user management frontend
  frontend/src/app/admin/audit-logs/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Complete artifact storage integration with enhanced UI features
  frontend/src/app/admin/storage/page.tsx
  frontend/src/components/actions/ArtifactManager.tsx
  frontend/src/components/actions/BuildLogSearch.tsx
  internal/api/admin_storage_handlers.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short, frontend-format, frontend-lint, frontend-type-check

Fix build timeout issues in CI/CD pipeline
  scripts/build.sh
  scripts/install.sh
Due: none

refactor: streamline user ID handling and enhance logging in organization and user handlers
  internal/api/repository_handlers.go
  internal/api/user_handlers.go
  internal/controllers/organization_controller.go
  internal/services/organization_service.go
  internal/services/organization_service_test.go
Due: go-fmt, go-imports, go-test-short

chore: update configuration settings in config.yml
  .a5c/config.yml
Due: none

fix: update Azure OpenAI CLI command in config.yml
  .a5c/config.yml
Due: none

chore: add Azure OpenAI environment variables to workflows
  .github/workflows/a5c.yml
  .github/workflows/main.yml
  .github_workflows/main.yml
Due: none

fix: refine CLI command for Codex in config.yml
  .a5c/config.yml
Due: none

fix: streamline CLI command syntax for Codex in config.yml
  .a5c/config.yml
Due: none
