Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: Go Imports
  entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test-short:
  name: Go Unit Tests (Short)
  entry: go test -short ./...
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier Format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: update CLI command for Azure OpenAI in config.yml
  .a5c/config.yml
Due: none

fix: update CLI command for Azure OpenAI in config.yml to enable quiet mode and improve execution options
  .a5c/config.yml
Due: none

fix: update CLI command for Azure OpenAI in config.yml to bypass approvals and sandbox mode for improved execution
  .a5c/config.yml
Due: none

fix: refine CLI command for Azure OpenAI in config.yml by removing redundant 'exec' for improved clarity and execution
  .a5c/config.yml
Due: none

fix: update CLI command for Azure OpenAI in config.yml to correct syntax by replacing underscores with hyphens for improved compatibility
  .a5c/config.yml
Due: none

fix: update CLI command for Azure OpenAI in config.yml to use 'codex-mini' model for improved compatibility and performance
  .a5c/config.yml
Due: none

fix: enhance CLI command for Azure OpenAI in config.yml by enabling RUST_BACKTRACE for improved debugging and error tracking
  .a5c/config.yml
Due: none

fix: enhance CLI command for Azure OpenAI in config.yml by enabling COLORBT_SHOW_HIDDEN and setting RUST_BACKTRACE to full for improved debugging and visibility
  .a5c/config.yml
Due: none

fix: update CLI command for Azure OpenAI in config.yml to include agent output path for improved artifact management in workflows
  .a5c/config.yml
  .github/workflows/a5c.yml
Due: none

fix: update CLI command in config.yml to change output path for agent results and enhance artifact management in workflows
  .a5c/config.yml
  .github/workflows/a5c.yml
Due: none

fix: update CLI command in config.yml to include environment variables for enhanced context during execution
  .a5c/config.yml
Due: none

feat(queue-ui): scaffold queue UI components and admin page integration
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/queue/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/actions/runs/[runId]/page.tsx
  frontend/src/components/queue/AdminQueueMetricsDashboard.tsx
  frontend/src/components/queue/QueueManagementPanel.tsx
  frontend/src/components/queue/QueueStatusIndicator.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix: update CLI command in config.yml to use environment variable for Azure OpenAI base URL, enhancing flexibility and configuration management
  .a5c/config.yml
Due: none

fix: update workflow configuration to use vars for AZURE_OPENAI_PROJECT_NAME, improving consistency across workflows
  .github/workflows/a5c.yml
  .github/workflows/main.yml
  .github_workflows/main.yml
Due: none

scaffold: initial integration test suite for DB, search, and API health
  tests/integration/README.md
  tests/integration/api_test.go
  tests/integration/db_test.go
  tests/integration/search_test.go
Due: go-fmt, go-imports, go-test-short

chore(integration): scaffold repository, auth, and issue/PR workflow integration tests
  tests/integration/README.md
  tests/integration/auth_integration_test.go
  tests/integration/pr_workflow_test.go
  tests/integration/repo_flow_test.go
Due: go-fmt, go-imports, go-test-short

fix(test): install Playwright browsers before running E2E tests
  scripts/test.sh
Due: none

chore(integration): scaffold integration tests CI workflow
  .github_workflows/integration-tests.yml
  tests/integration/README.md
Due: none

build-fixer-agent: add actions: read permission to A5C workflow
  .github_workflows/a5c.yml
Due: none

Add comprehensive integration tests for auth, repo data flow, and issue/PR workflows
  tests/integration/auth_integration_test.go
  tests/integration/pr_workflow_test.go
  tests/integration/repo_flow_test.go
Due: go-fmt, go-imports, go-test-short

chore: update GitHub Actions permissions to allow read access for actions
  .github/workflows/a5c.yml
Due: none

chore(test): Phase 1 - unified coverage reporting and quality gates
  .github_workflows/coverage-report.yml
  codecov.yml
  scripts/test.sh
Due: none

test(analytics): add testutil helper and analytics service unit test
  internal/services/analytics_service_test.go
  internal/testutil/db.go
Due: go-fmt, go-imports, go-test-short

test: add unit tests for core UI components, hooks & utilities 
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format, frontend-lint

chore: update GitHub Actions runner to use runner8core and increase timeout for dependency downloads
  .github/workflows/main.yml
Due: none

fix(build): restore GOGC default to prevent CI build hang
  scripts/build.sh
Due: none

chore: change GitHub Actions runner from ubuntu-latest to runner8core
  .github/workflows/a5c.yml
Due: none

fix(build): correct context.WithTimeout usage and proper userID retrieval in handlers
  internal/api/admin_storage_handlers.go
  internal/api/user_handlers.go
Due: go-fmt, go-imports, go-test-short

Fix context timeout usage and userID retrieval in API handlers
  internal/api/admin_storage_handlers.go
  internal/api/user_handlers.go
Due: go-fmt, go-imports, go-test-short

fix: correct context timeout and userID handling for storage and user handlers
  internal/api/admin_storage_handlers.go
  internal/api/user_handlers.go
Due: go-fmt, go-imports, go-test-short

fix: restore Go GC setting to default in build script
  scripts/build.sh
Due: none

fix(frontend): use open prop instead of isOpen for Modal component
  frontend/src/app/admin/users/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): correct runId param typing and API response usage for queue status indicator
  frontend/src/app/repositories/[owner]/[repo]/actions/runs/[runId]/page.tsx
  frontend/src/components/queue/QueueStatusIndicator.tsx
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): correct useParams typing and handle queue API response data
  frontend/src/app/repositories/[owner]/[repo]/actions/runs/[runId]/page.tsx
  frontend/src/components/queue/QueueStatusIndicator.tsx
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

feat(user-insights): integrate real analytics API and remove mock data
  frontend/src/app/user/insights/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

e2e(admin): implement admin auth and API mocking, remove TODOs
  frontend/e2e/admin-analytics.spec.ts
  frontend/e2e/admin-dashboard.spec.ts
  frontend/e2e/admin-user-management.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check

Add custom error and not-found pages in Next.js App Router
  frontend/src/app/error.tsx
  frontend/src/app/not-found.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Implement offline action queueing and processing via IndexedDB and background sync in service worker
  frontend/public/sw.js
Due: frontend-format, frontend-lint

ci: cache Playwright browsers to speed up test job
  .github_workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum
  go-test-short: any of: \.go$
  frontend-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
