Repository a5c-ai/hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-test-short, frontend-format, frontend-lint, frontend-type-check

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: Go Imports
  entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test-short:
  name: Go Unit Tests (Short)
  entry: go test -short ./...
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier Format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(services): update SearchService tests for NewSearchService signature and resolve setupTestDB conflicts
  internal/services/organization_service_test.go
  internal/services/search_service_test.go
  internal/services/webhook_test.go
Due: go-fmt, go-imports, go-test-short

feat(admin-search): integrate real API calls and remove mock data
  frontend/src/app/admin/search/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix: wrap gen_random_uuid default in parentheses for SQLite compatibility and update tests
  internal/auth/auth_test.go
  internal/auth/blacklist.go
  internal/auth/email_verification.go
  internal/auth/mfa.go
  internal/auth/oauth.go
  internal/auth/password_reset.go
  internal/auth/security.go
  internal/auth/session.go
  internal/db/migrations/010_sessions.go
  internal/db/migrations/011_security_tables.go
  internal/db/migrations/012_email_verification_tokens.go
  internal/db/migrations/013_password_reset_tokens.go
  internal/models/actions.go
  internal/models/analytics.go
  internal/models/commit.go
  internal/models/issue.go
  internal/models/organization.go
  internal/models/repository.go
  internal/models/repository_statistics.go
  internal/models/review.go
  internal/models/user.go
  internal/models/webhook.go
  internal/services/team_service.go
Due: go-fmt, go-imports, go-test-short

feat(user insights): integrate real analytics API for user insights page
  frontend/src/app/user/insights/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(api): add default generic type parameter to apiClient methods
  frontend/src/lib/api.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(user-analytics): add explicit API response types to avoid unknown data errors
  frontend/src/app/user/insights/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(test): always start test servers for E2E tests
  scripts/test.sh
Due: none

fix(tests): support SQLite by generating UUIDs in models and removing default gen_random_uuid()
  internal/models/actions.go
  internal/models/webhook.go
  internal/services/artifact_service.go
  internal/services/organization_service.go
  internal/services/organization_service_test.go
Due: go-fmt, go-imports, go-test-short

fix(test): always start test servers for E2E tests and include DB config
  scripts/test.sh
Due: none

Implement refresh token rotation, expiration and idle timeout handling; add tests and update docs. @code-review-agent
  docs/authentication.md
  internal/auth/auth_test.go
  internal/auth/session.go
Due: go-fmt, go-imports, go-test-short

auth: implement email sending and password reset functionality
  config.example.yaml
  docs/developer-guide.md
  internal/auth/service.go
  internal/auth/service_test.go
Due: go-fmt, go-imports, go-test-short

Implement Azure Blob Storage backend operations (#287)
  docs/artifact-storage.md
  docs/developer-guide.md
  go.mod
  go.sum
  internal/storage/azure.go
  internal/storage/azure_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-test-short

Add migration to update sessions table with new columns
  internal/db/migrations/020_update_sessions_table.go
Due: go-fmt, go-imports, go-test-short

fix: start PostgreSQL test database in test script for CI
  scripts/test.sh
Due: none

build: setup PostgreSQL test container in test script
  scripts/test.sh
Due: none

feat(editor): add smart editor extension framework and Markdown editor extension
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/repositories/[owner]/[repo]/edit/[ref]/[...path]/page.tsx
  frontend/src/components/MarkdownEditor.tsx
Due: frontend-format, frontend-lint, frontend-type-check

Refactor analytics and pull request handlers for improved clarity and functionality
  internal/api/analytics_handlers.go
  internal/api/pull_request_handlers.go
  internal/api/repository_handlers.go
  internal/api/routes.go
  internal/api/search_handlers.go
Due: go-fmt, go-imports, go-test-short

fix: restore build after recent refactors
  internal/api/activity_handlers.go
  internal/api/admin_email_handlers.go
  internal/api/admin_handlers.go
  internal/api/analytics_handlers.go
  internal/api/auth_handlers.go
  internal/api/branch_protection_handlers.go
  internal/api/organization_advanced_handlers.go
  internal/api/pull_request_handlers.go
  internal/api/repository_handlers.go
  internal/api/routes.go
  internal/api/search_handlers.go
Due: go-fmt, go-imports, go-test-short

fix(frontend): allow legacy peer deps to resolve react-mde peer conflict with React 19
  scripts/build.sh
  scripts/install.sh
Due: none

feat(settings): implement repository settings in detached 'settings' branch
  internal/api/repository_handlers.go
  internal/api/routes.go
  internal/services/repository_service.go
Due: go-fmt, go-imports, go-test-short

build: annotate assignee parameter type to fix TS implicit any error
  frontend/src/app/repositories/[owner]/[repo]/pulls/[number]/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

chore: update package-lock.json and improve install script
  frontend/package-lock.json
  frontend/src/components/layout/Header.tsx
  scripts/install.sh
Due: frontend-format, frontend-lint, frontend-type-check

fix: enable legacy peer deps for frontend install and build steps
  scripts/build.sh
  scripts/install.sh
Due: none

fix: add Label type annotation to pull request labels map
  frontend/src/app/repositories/[owner]/[repo]/pulls/[number]/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

chore: remove obsolete artifact storage documentation and related tests
  docs/artifact-storage.md
  frontend/e2e/advanced-cicd.spec.ts
  frontend/e2e/helpers/test-utils.ts
  frontend/e2e/repository-integrations.spec.ts
  frontend/e2e/repository-security.spec.ts
  frontend/e2e/repository-settings.spec.ts
  frontend/public/manifest.json
  frontend/src/app/organizations/new/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/page.tsx
  frontend/src/app/repositories/[owner]/[repo]/settings/page.tsx
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix: annotate label type to prevent implicit any in pull request labels mapping
  frontend/src/app/repositories/[owner]/[repo]/pulls/[number]/page.tsx
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): add @types/showdown to prevent TS errors
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format

fix(frontend): add module declaration for showdown to resolve missing types error
  frontend/src/types/showdown.d.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(types): add Issue interface to resolve missing type errors
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): forward declare Issue to resolve missing types error
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

fix(frontend): add missing Issue interface in types index.ts to resolve TS error 'Cannot find name Issue'
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, frontend-type-check

feat(repository): initialize 'settings' branch on repository creation
  internal/services/repository_service.go
Due: go-fmt, go-imports, go-test-short

feat: scaffold Git LFS support and Azure Blob configuration
  config.dev.yaml
  config.example.yaml
  docs/requirements.md
  docs/tech-stack-selection.md
  docs/user-guide.md
  internal/api/git_lfs.go
  internal/api/routes.go
  internal/config/config.go
Due: go-fmt, go-imports, go-test-short

fix(test): disable E2E tests by default to prevent CI timeout
  scripts/test.sh
Due: none

enhance(frontend): improve accessibility and user display in Header component
  frontend/src/components/layout/Header.tsx
Due: frontend-format, frontend-lint, frontend-type-check

api: implement Git LFS support
  internal/api/git_lfs.go
  internal/api/routes.go
Due: go-fmt, go-imports, go-test-short

fix(test): export PGPASSWORD for psql in setup_test_db to avoid password prompt hanging
  scripts/test.sh
Due: none

fix(tests): use service container for PostgreSQL and add timeout to DB setup
  .github_workflows/main.yml
  scripts/test.sh
Due: none

fix(test): use non-default port for test database to avoid port conflicts
  scripts/test.sh
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum
  go-test-short: any of: \.go$
  frontend-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
